# ROI Process
landmarker_path : misc/face_landmarker.task

# Load Data
inference_video_path : 
meta_data_csv_path : 

# Constants
fps_standard: 30
seg_time_interval: 3

# Model
model_path: model_state.pth
model_type: # SVR, Pycaret
output_path: 
